<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: rgb(221, 245, 240);
        font-family: "Nunito", "sans-serif";
        padding-top: 50px;
      }

      .container {
        max-width: 600px;
        margin: auto;
        background-color: #fff;
        /* text-align: center;
        justify-content: center; */
      }
    </style>
  </head>
  <body>
    <div class="container">{% block content%} {%endblock content%}</div>
  </body>
</html>
